body {
  background-color: gray;
}

.texto {
  width: 200px;
  height: 200px;
  overflow: auto;
  background-color: #CCC;
}

.scrollbutton {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: red;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  cursor: pointer;
}